.App {

  text-align: center;
}

html {background-color: #f4f4fc;}

.title{
  border: 1px solid red;
border: 1px solid red;
  position: absolute;
  left:15%;
}

.search{
  background-color: white;
  position:absolute;
  top: 9%;
  width:65%;
  left:15%;
  border: 1px solid;
}

h5 {
  padding-left: 10px;
  margin: 10px;
  display: flex;
}

input {
  margin-bottom: 15px;
  width:97%;
  margin-left:10px;
  margin-right:8px;
}


