.App {
  font-family: Arial;
  text-align: center;
  height: 95vh;

}

html {background-color: #f4f4fc;}

.title{
  /* border: 1px solid red;
  border: 1px solid red; */
  position: absolute;
  left:15%;
}

.search{
  background-color: white;
  position:absolute;
  top: 9%;
  width:65%;
  left:15%;
  /* border: 1px solid; */
}

.search h4 {
  margin-top:17px;
  padding-left: 14px;
  margin: 10px;
  display: flex;
}

.search input, textarea {
  width:95%;
  margin-left:10px;
  margin-right:8px;
  /* box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */
  border:0;
  border-bottom:1px solid lightslategrey;
  margin:7px;
  margin-left:17px;
  border-radius:3px;
  font-family:inherit;
  font-size: inherit;
  outline:none;
  padding:5px;
  margin-bottom:12px;
}

.search input:hover {
  border: 1px solid #aaa;
}

.results {
  background-color: white;
  /* border: 1px solid blue; */
  width: 32%;
  top: 22%;
  position: absolute;
  left: 15%;
  padding-bottom:10px;
}

.results button {
  appearance:none;
  -webkit-appearance:none;
  border-radius:5px;
  background-color:#3F51B5;
  color:white;
  font-family:inherit;
  font-size: inherit;
}

.results button:disabled {
  background-color: #87cefa;
}

.nominations {
  background-color: white;
  /* border: 1px solid blue; */
  position: absolute;
  width: 32%;
  top: 22%;
  left:48%;
  padding-bottom:10px;
}

.nominations button {
   appearance:none;
  -webkit-appearance:none;
  border-radius:5px;
  background-color:#ff6347;
  color:white;
  font-family:inherit;
  font-size: inherit;

}

.banner h6 {
  margin: 0 auto;
  padding-top:164px;
}

